.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  :host ::ng-deep .mat-radio-label{
    white-space: pre-line;
  }

  ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#005691 !important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:rgb(66, 134, 244);
    background-color:#005691 !important;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #005691 !important;
}
  