<div *ngIf="showHeader" style="font-weight: bold; background-color: lightgray; padding: 10px;margin-left: -15px;">
    My Contracts
</div>
<br>

<table id="contract">
    <tr>
        <th style="width: 10%; text-align: center">Contract ID <i class="fa fa-sort" aria-hidden="true" style="padding-left: 5px"></i></th>
        <th style="width: 13%;text-align: center">Contract Name<i class="fa fa-sort" aria-hidden="true" style="padding-left: 5px"></i></th>
        <th style="width: 15%;text-align: center">Counter Party Name<i class="fa fa-sort" aria-hidden="true" style="padding-left: 5px"></i></th>
        <th style="width: 10%;text-align: center">Start Date<i class="fa fa-sort" aria-hidden="true" style="padding-left: 5px"></i></th>
        <th style="width: 10%;text-align: center">Expiry Date<i class="fa fa-sort" aria-hidden="true" style="padding-left: 5px"></i></th>
        <th style="width: 10%;text-align: center">CreatedBy<i class="fa fa-sort" aria-hidden="true" style="padding-left: 5px"></i></th>
        <th style="width: 10%;text-align: center">Status<i class="fa fa-sort" aria-hidden="true" style="padding-left: 5px"></i></th>
        <th style="width: 10%;text-align: center">Libor<i class="fa fa-sort" aria-hidden="true" style="padding-left: 5px"></i></th>
    </tr>
    <tr *ngFor="let contract of contracts">
        <td><span style="color: #0000EE; cursor: pointer;" (click)="navigate(contract)">{{contract.contractId}}</span></td>
        <td>{{contract.contractName}}</td>
        <td>{{contract.counterPartyName}}</td>
        <td>{{contract.contractStartDate}}</td>
        <td>{{contract.contractExpiryDate}}</td>
        <td>{{contract.createdBy}}</td>
        <td>{{currStatus[contract.currStatusId]}}</td>
        <td>{{contract.libor?'Yes':'No'}}</td>
        
    </tr>
</table>


