
  #contract {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }
  
  #contract td, #contract th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #contract tr:nth-child(even){background-color: #f2f2f2;}
  
  #contract tr:hover {background-color: #ddd;}
  
  #contract th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #005691;
    color: white;
  }
  