
  <div class="content-wrapper">

<h1 style="margin-left: 25vw">DASHBOARDS</h1>
<mat-form-field appearance="fill">
  <mat-label>Select Dash Board Type</mat-label>
  <mat-select (selectionChange)="onDashboardChange($event)">
    <mat-option *ngFor="let dashboard of dashboards" [value]="dashboard.value">
      {{dashboard.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

    <div class="container-fluid">
      <div class="row">


            <div *ngFor="let ele of dashBoardObj" class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                    <div class="inforide">
                      <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                            <!--<img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">-->
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                            <h4>{{ele.key}}</h4>
                            <h2>{{ele.value}}</h2>
                        </div>
                      </div>
                    </div>
            </div>

     
    </div>
    
  </div>
  
</div>
