<div style="text-align: center">
    <h1>Repapering Request</h1>
</div>
<mat-horizontal-stepper>

    <mat-step label="Initiation">
      Step 1 Initiation
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
  
    <mat-step label="Review">
      Step 2 Review
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
  
    <mat-step label="Amendment">
        Step 3 Amendment
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step>

    <mat-step label="Authorize">
        Step 4 Authorize
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>

      <mat-step label="Verification">
        Step 5 Verification
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step label="Close">
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Complete</button>
          </div>
      </mat-step>
    
  </mat-horizontal-stepper>
