::ng-deep .mat-tab-label {
  min-width: 60px !important;
}
::ng-deep .mat-simple-snackbar span {
    margin: auto !important;
    text-align: center !important;
}
::ng-deep .mat-snack-bar-container{
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
    font-weight: bold;
  }
table {
  width: 100%;
}
th, td {
  padding: 5px;
}

label {
  margin-bottom: 0px;
  font-weight: inherit;
}

.bold {
  font-weight: bold
}

input[type=text]{
  border: none;
  background: lightgray;
  text-align: center;
}
.amendmentDiv{
  height: 660px;
  width: 100%;
  /*display: flex;
  justify-content: center;*/
}

.asIs{
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.toBe{
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sec1{
  height: 100%;
  width: 50%;
}
.sec2{
  height: 100%;
  width: 50%;
}


/*Authorize*/
.docDiv{
  border: 1px solid white;
}

.divAsIs {
  height: 550px;
  border-bottom: 3px solid black
}
.divToBe{
  height: 500px;
}

.divPdf{
  display: flex;
  justify-content: center;
}
.wholePdf, .labourPdf {
  width: 50%;
  height: 450px;
}