::ng-deep .mat-tab-label {
  min-width: 60px !important;
}
::ng-deep .mat-simple-snackbar span {
    margin: auto !important;
    text-align: center !important;
}
::ng-deep .mat-snack-bar-container{
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
    font-weight: bold;
  }
table {
  width: 100%;
}
th, td {
  padding: 5px;
}

label {
  margin-bottom: 0px;
  font-weight: inherit;
}

.bold {
  font-weight: bold
}

input[type=text]{
  border: none;
  background: lightgray;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 10px 16px;
  margin: 10px
}
.content-center {
  display: flex;
  justify-content: center;
}
.right-align-text {
  text-align: right;
}

