table {
    width: 100%;
  }
  th, td {
    padding: 5px;
  }
  
  label {
    margin-bottom: 0px;
    font-weight: inherit;
  }
  
  .bold {
    font-weight: bold
  }
  
  input[type=text]:disabled{
    border: none;
    background: lightgray;
    text-align: center;
  }
  
  input[type=text]{
    width: 90%;
  }