<nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="\assets\CognizantLogo.jpg"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active" style="width: 100px;text-align: center;"><a id="header" href="#">GBLIB</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!username">
            <a id="header" [routerLink] = "'/login'" ><span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
          <li *ngIf="username" style="padding: 10px;margin-top: 5px;color: #fff">
              <span *ngIf="username" >{{username}}</span>
          </li>
          <li id="searchbox"><input type="text" placeholder="Search.." name="search"></li>
          <li><i class="fas fa-search" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </nav>
 <!--  <div style="height: 5px;background: #0033a0;"></div> -->
    
  <div class="container-fluid text-center">    
    <div class="row content1 row-flex">
      <div class="col-sm-2 sidenav text-left">
          <p><a [routerLink] = "'/'">Home</a></p>
          <p><a [routerLink] = "'/repapering'">Repapering Request </a></p>
          <p><a [routerLink] = "'/dashboard'">Dashboard  </a></p>
          <p><a [routerLink] = "'/'">Scan to Text</a></p>
          <p><a [routerLink] = "'/'">Classify Contracts </a></p>
          <p><a [routerLink] = "'/'">Review Contracts</a></p>
          <p><a [routerLink] = "'/'">Edit Contracts  </a></p>
          <p><a [routerLink] = "'/'">My Approval</a></p>
          <p><a [routerLink] = "'/'">My Contract</a></p>

        <!--<p><a [routerLink] = "'/template'">Template Upload  </a></p>
        <p><a [routerLink] = "'/documents'">Document Manager </a></p>
        <p><a [routerLink] = "'/search'">Document Search  </a></p>
        <p><a [routerLink] = "'/analysis'">Contract Analysis</a></p> -->
      </div>
      <div class="col-sm-10 text-left" style="min-height: calc(100vh - 120px);"> 
        <router-outlet></router-outlet>
        <!--<app-template-upload></app-template-upload>
        <app-document-manager></app-document-manager>
        <app-document-search></app-document-search>
        <app-contract-analysis></app-contract-analysis> -->
        
      </div>
   <!--    <div class="col-sm-2 sidenav">
        <div class="well">
          <p>LIBOR</p>
        </div>
        <div class="well">
          <p>MIBOR</p>
        </div>
      </div> -->
    </div>
  </div>
  
  <!-- <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer> -->