<br>
<mat-tab-group animationDuration="0ms" [(selectedIndex)]="selectedTab" (selectedTabChange)="laodTabDetails($event)">
  <mat-tab label="Global Setup">
        <div>
            <br>
            <table *ngIf="globalData">
                <tr>
                    <td style="width: 50%" class="bold">
                        <mat-form-field appearance="fill">
                            <mat-label>Event Type</mat-label>
                            <mat-select>
                                <mat-option [value]="'libor'">LIBOR</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td style="width: 50%">
                        <mat-form-field appearance="fill">
                            <mat-label>Contract Type</mat-label>
                            <mat-select>
                                <mat-option [value]="'loan'">Loan</mat-option>
                                <mat-option [value]="'derivative'">Derivative</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>    
        
            <br>
            <table>
                <tr>
                    <td style="width: 20%" class="bold">Regulatory Event </td>
                    <td style="width: 30%"><input type="text" class="form-control" [disabled]="true" value="LIBOR" /></td>
                    <td style="width: 20%" class="bold">Contract Type </td>
                    <td style="width: 30%"><input type="text" class="form-control" [disabled]="true" value="Syndicate Loan" /></td>
                </tr>
                <tr>
                    <td  class="bold">Domain Context Dictionary Id </td>
                    <td >
                        <mat-form-field>
                            <mat-select [(value)]="selId" (selectionChange)="loadGlobalData()">
                                <mat-option *ngFor="let item of globalDataFull" [value]="item.domainContextDictionaryId">{{item.domainContextDictionaryId}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td class="bold">Reference Examples </td>
                    <td><input type="text" class="form-control" [disabled]="true" [(ngModel)]="globalData.referenceExamples" /></td>
                </tr>
                <tr>
                    <td  class="bold">Domain Context Type Id </td>
                    <td ><input type="text" class="form-control" [disabled]="true" [(ngModel)]="globalData.domainContextTypeId" /></td>
                    <td class="bold">Domain Context SubType Id </td>
                    <td ><input type="text" class="form-control" [disabled]="true" [(ngModel)]="globalData.domainContextSubTypeId" /></td>
                </tr>
            
                <tr>
                    <td class="bold">Domain Context Possible Name Definitions </td>
                    <td ><input type="text" class="form-control" [disabled]="true" [(ngModel)]="globalData.domainContextPossibleNameDefinitions" /></td>
                    <td class="bold">Domain Context Name </td>
                    <td ><input type="text" class="form-control" [disabled]="true"  [(ngModel)]="globalData.domainContextName" /></td>
                </tr>
                <tr>
                    <td class="bold">Phrase Rule </td>
                    <td ><input type="text" class="form-control" [disabled]="true" [(ngModel)]="globalData.phraseRule"  /></td>
                    <td class="bold">Entity Rule </td>
                    <td><input type="text" class="form-control" [disabled]="true" [(ngModel)]="globalData.entityRule" /></td>
                </tr>
                <tr>
                    <td class="bold">Domain Context Possible Value Definitions </td>
                    <td colspan="3" style="padding-right: 35px;"><textarea class="form-control" rows="2" [disabled]="true" [(ngModel)]="globalData.domainContextPossibleValueDefinitions"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: right; padding-right: 50px; padding-top: 20px;">
                        <button class="btn btn-primary" style="width: 100px"><i class="fa fa-plus" aria-hidden="true" style="padding-right: 10px"></i>Add</button> &nbsp; &nbsp; &nbsp;&nbsp;
                        <button class="btn btn-primary" style="width: 100px"><i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-right: 10px"></i>Update</button>
                    </td>
                </tr>
            </table>        
        </div>

  </mat-tab>
  <mat-tab label="Contract Metadata">
        <div><br>
            <mat-form-field appearance="fill">
                <mat-label>Contact Id</mat-label>
                <mat-select [(value)]="contractId" (selectionChange)="loadContractMetaData()">
                    <mat-option *ngFor="let contract of contracts" [value]="contract.contractId">{{contract.contractId}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <br>
        
            <table *ngIf="contractMetaFull">
                <tr>
                    <td style="width: 15%" class="bold">Domain Context Dictionary Id </td>
                    <td style="width: 35%">
                        <mat-form-field>
                            <mat-select [(value)]="selCid" (selectionChange)="loadContractData()">
                                <mat-option *ngFor="let item of contractMetaFull" [value]="item.domainContextDictionaryId">{{item.domainContextDictionaryId}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td style="width: 15%"class="bold">Reference Examples </td>
                    <td style="width: 35%"><input type="text" class="form-control" [disabled]="true" [(ngModel)]="contractMeta.referenceExamples " /></td>
                </tr>
                <tr>
                    <td style="width: 15%" class="bold">Header Name</td>
                    <td style="width: 35%"><input type="text" class="form-control" [disabled]="true" [(ngModel)]="contractMeta.headerName" /></td>
                    <td style="width: 15%" class="bold">Header PageNo</td>
                    <td style="width: 35%"><input type="text" class="form-control" [disabled]="true" [(ngModel)]="contractMeta.headerPageNo" /></td>
                </tr>
                <tr>
                    <td  class="bold">Header Text Content</td>
                    <td ><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.headerTextContent" /></td>
                    <td class="bold">Header Paragraph Index </td>
                    <td ><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.headerParagraphIndex" /></td>
                </tr>
                <tr>
                    <td  class="bold">Header FontName</td>
                    <td ><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.headerFontName" /></td>
                    <td class="bold">Header FontSize</td>
                    <td ><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.headerFontSize" /></td>
                </tr>
            
                <tr>
                    <td class="bold">Start LocationX </td>
                    <td ><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.startLocationX" /></td>
                    <td class="bold">Start LocationY</td>
                    <td ><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.startLocationY" /></td>
                </tr>
                <tr>
                    <td class="bold">End LocationX </td>
                    <td><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.endLocationX" /></td>
                    <td class="bold">End LocationY</td>
                    <td><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.endLocationY" /></td>
                </tr>
                <tr>
                    <td  class="bold">Domain Context Type Id </td>
                    <td ><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.domainContextTypeId" /></td>
                    <td class="bold">Domain Context SubType Id </td>
                    <td ><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.domainContextSubTypeId" /></td>
                </tr>
            
                <tr>
                    <td class="bold">Domain Context Possible Name Definitions </td>
                    <td ><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.domainContextPossibleNameDefinitions" /></td>
                    <td class="bold">Domain Context Name </td>
                    
                    <td ><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.domainContextName" /></td>
                </tr>
                <tr>
                    <td class="bold">Phrase Rule </td>
                    <td><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.phraseRule" /></td>
                    <td class="bold">Entity Rule </td>
                    <td><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.entityRule" /></td>
                </tr>
                <tr>
                    <td class="bold">Text Similarity </td>
                    <td><input type="text" [disabled]="true" class="form-control" [(ngModel)]="contractMeta.textSimilarity" /></td>
                    <td class="bold"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bold">Domain Context Current Field Value </td>
                    <td colspan="3" style="padding-right: 35px;"><textarea class="form-control" rows="2" [disabled]="true" [(ngModel)]="contractMeta.domaincontextCurrentFieldValue" ></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="bold">Domain Context Possible Value Definitions </td>
                    <td colspan="3" style="padding-right: 35px;"><textarea class="form-control" rows="2" [disabled]="true" [(ngModel)]="contractMeta.domainContextPossibleValueDefinitions" ></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: right; padding-right: 50px; padding-top: 20px;">
                            <button class="btn btn-primary" style="width: 100px"><i class="fa fa-plus" aria-hidden="true" style="padding-right: 10px"></i>Add</button> &nbsp; &nbsp; &nbsp;&nbsp;
                            <button class="btn btn-primary" style="width: 100px"><i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-right: 10px"></i>Update</button>
                    </td>    
                </tr>
            </table>
        <br><br>
        </div>
            
            

  </mat-tab>
  <mat-tab label="Transition Priority Setup">
      <br>
    <table>
        <tr>
            <td style="width: 30%; padding: 10px" class="bold">Counter Party Weigtage Value</td>
            <td style="width: 10%; padding: 10px"><input type="text" class="form-control" /></td>
            <td style="width: 60%; padding: 10px"></td>
        </tr>
        <tr>
            <td style="width: 30%; padding: 10px" class="bold">Contract Expiry Date length (beyond Dec,2021)</td>
            <td style="width: 10%; padding: 10px"><input type="text" class="form-control" /></td>
            <td style="width: 60%; padding: 10px"></td>
        </tr>
        <tr>
            <td style="width: 30%; padding: 10px" class="bold">Contract Amount (Weigtage)</td>
            <td style="width: 10%; padding: 10px"><input type="text" class="form-control" /></td>
            <td style="width: 60%; padding: 10px"></td>
        </tr>
        <tr>
            <td style="width: 30%; padding: 10px" class="bold">Contract Category (Weigtage)</td>
            <td style="width: 10%; padding: 10px"><input type="text" class="form-control" /></td>
            <td style="width: 60%; padding: 10px"></td>
        </tr>
        <tr>
            <td style="width: 30%; padding: 10px" class="bold">Fallback Complexity</td>
            <td style="width: 10%; padding: 10px"><input type="text" class="form-control" /></td>
            <td style="width: 60%; padding: 10px; text-align: center;">
                <button class="btn btn-primary" style="width: 100px"><i class="fa fa-plus" aria-hidden="true" style="padding-right: 10px"></i>Add</button> &nbsp; &nbsp; &nbsp;&nbsp;
                <button class="btn btn-primary" style="width: 100px"><i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-right: 10px"></i>Update</button>
            </td>
        </tr>
    </table>

    <br>
    <br>
    <h1>Calculate Transition Priority Score</h1>
    <table>
        <tr>
            <td style="width: 30%; padding: 10px" class="bold">Select Contact Id</td>
            <td style="width: 10%; padding: 10px">
                <mat-form-field>
                    <mat-select>
                        <mat-option *ngFor="let contract of contracts" [value]="contract.contractId">{{contract.contractId}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td style="width: 60%; padding: 10px; text-align: center;">
                <button class="btn btn-primary" style="width: 100px" (click)="details=false"><i class="fa fa-calculator" aria-hidden="true" style="padding-right: 5px"></i>Calculate</button>
            </td>
        </tr>
        <tr>
            <td style="width: 30%; padding: 10px" class="bold">Score</td>
            <td style="width: 10%; padding: 10px">{{700}}</td>
            <td style="width: 60%; padding: 10px; text-align: center;">
                <button class="btn btn-primary" style="width: 100px" (click)="details=true"><i class="fa fa-info" aria-hidden="true" style="padding-right: 10px"></i>Details</button>
            </td>
        </tr>
    </table>
    <br>    
    <table *ngIf="details" style="width: 70%">
        <tr>
            <td style="width: 25%">Counter Party Value</td>
            <td style="width: 25%"><input type="text" class="form-control" [disabled]="true" style="width: 100px" /></td>
            <td style="width: 25%"> Score</td>
            <td style="width: 25%"><input type="text" class="form-control" [disabled]="true" style="width: 100px" /></td>
        </tr>
        <tr>
            <td >Expiry Value</td>
            <td ><input type="text" class="form-control" [disabled]="true" style="width: 100px"/></td>
            <td > Score</td>
            <td ><input type="text" class="form-control" [disabled]="true" style="width: 100px"/></td>
        </tr>
        <tr>
            <td >Amount</td>
            <td ><input type="text" class="form-control" [disabled]="true" style="width: 100px"/></td>
            <td >Amount Score</td>
            <td ><input type="text" class="form-control" [disabled]="true" style="width: 100px"/></td>
        </tr>
        <tr>
            <td >Contract Value</td>
            <td ><input type="text" class="form-control" [disabled]="true" style="width: 100px"/></td>
            <td >Contract Score</td>
            <td ><input type="text" class="form-control" [disabled]="true" style="width: 100px"/></td>
        </tr>
        <tr>
            <td >Fallback Value</td>
            <td ><input type="text" class="form-control" [disabled]="true" style="width: 100px"/></td>
            <td >Fallback Score</td>
            <td ><input type="text" class="form-control" [disabled]="true" style="width: 100px"/></td>
        </tr>
    </table>
    <br><br>
  </mat-tab>
</mat-tab-group>


